html {
  background: #222;
  color: #fff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.header__box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.banner__box {
  img {
  }
  .summary {
    h1 {
    }
    p {
    }
    span {
    }
  }
}

.item__parent {
  padding: 20px 0;
  .item__wrapper {
    width: 200px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
    .summary {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      padding-bottom: 50px;

      h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
        display: none;
      }
      span {
      }
    }
    .score {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: none;
      cursor: pointer;

      h1 {
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
      }
    }

    &:hover {
      //자기 자신을 선택할 때
      .summary {
        display: none;
      }
      .score {
        display: flex;
      }
    }
  }
}
