html {
  background: #222;
  color: #fff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 11;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
}

.header__box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 10;
  div {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px #222;
  }
}

.banner__box {
  position: relative;
  top: 50px;
  img {
    width: 100%;
  }
  .summary {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: rgba(0, 0, 0, 0.2);
    article {
      margin: 300px 0 0 150px;
    }
    h1 {
      font-size: 50px;
      letter-spacing: 5px;
      // 글자간 간격
      margin-bottom: 10px;
    }
    p {
      font-size: 23px;
      margin-bottom: 10px;
    }
    span {
      strong {
        font-weight: bold;
      }
    }
  }
}

.section__title {
  margin: 30px auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.item__parent {
  .item__wrapper {
    color: #fff;
    text-decoration: none;
    width: 200px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;

    img {
      width: 200px;
      height: 300px;
    }
    .summary {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 1px;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      padding-bottom: 50px;

      h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
        display: none;
      }
      span {
      }
    }
    .score {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 1px;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: none;
      cursor: pointer;

      h1 {
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        box-shadow: 0 0 10px #fff;
        box-shadow: inset 0 0 5px #fff;
        text-shadow: 0 0 0 10px #222;
        // 평점에 그림자 효과
      }
    }

    &:hover {
      //자기 자신을 선택할 때
      .summary {
        display: none;
      }
      .score {
        display: flex;
      }
    }
  }
}
